- content_for :caption do
  Ticket #{ @ticket.reference }

%table
  %tr
    %td Client Name
    %td= @ticket.client_name
  %tr
    %td Client Email
    %td= @ticket.client_email
  %tr
    %td Department
    %td= @ticket.department
  %tr
    %td Subject
    %td= @ticket.subject
  %tr
    %td Message
    %td= @ticket.body
  %tr
    %td Assignee
    %td= @ticket.assignee
  %tr
    %td Status
    %td=t @ticket.status

%h3 Reply
= render partial: 'staff/replies/form', locals: {ticket: @ticket}

%h3 Replies
= render partial: 'shared/replies', locals: {replies: @ticket.replies}