= simple_form_for ticket do |f|
  = f.input  :client_name
  = f.input  :client_email, as: :email
  = f.input  :department_id, collection: Department.all.map {|d| [d.name, d.id]}, include_blank: false
  = f.input  :subject
  = f.input  :body,         as: :text
  = f.button :submit