!!!
%html
  %head
    %title Suppert
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - if content_for?(:caption)
      %h2= yield :caption
    = render 'shared/flashes'
    = yield